
<!DOCTYPE html>
<html>
<head>
<title>Grama Sachivalayam</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    *{
font-family: Tahoma, "Trebuchet MS", sans-serif;
font-style:bold;
font-size:20px;
}


.btn {
  background-color:white;
  border:black;
    border-style:groove;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}
</style>
<body>
    
 <div class="w3-container w3-teal" >
    <div class="w3-bar">
    <span style='font-size:25px;' > Grama Sachivalayam Contact Details</span>
        <button class="btn" onclick="location.href='#'"><i class="fa fa-home"></i></button>
       </div>
    </div>

    <p font-style='bold'>Please select Mandal from below list</p>


<div class="w3-row w3-container w3-padding-32">
  <div class="w3-col   w3-dark-grey w3-center">
    <p><a href="gsv/kosigiMandalSacivalyam_index.html">Kosigi</a></p>
  </div>
  <div class="w3-col  w3-red w3-center">
    <p> <a href="gsv/kowthalamMandalSacivalyam_index.html">Kowthalam</a></p>
  </div>
  <div class="w3-col  w3-green w3-center">

    <p><a href="gsv/MantralyamMandalSachivalyam_index.html">Mantralayam</a></p>
  </div>
    <div class="w3-col  w3-gray w3-center">
    <p><a href="gsv/PedaKaduburMandalSachivalyam_index.html">PedaKadubur</a></p>
  </div>
</div>



<input type='button' onclick='window.history.back()' value='Back'>



<script src="linknum.js"></script>
</body>
</html>

